:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --akcent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

p {
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* logo */
.logo {
  color: var(--akcent-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
}

.logo-header {
  color: var(--tittle-text-color);
}

.logo-footer {
  color: var(--primary-white-color)
}
/* site-nav */
.site-nav .link {
  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--akcent-color);
}

.site-nav .link.current {
  color: var(--akcent-color);
}

.site-contact .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}
.site-contact .link:hover,
.site-contact .link:focus {
  color: var(--akcent-color);
}

/* hero */
.hero-tittle {
  background: #2f303a;
  color: #ffffff
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}

/* futures */
.feature-list .tittle {
  color: var(--tittle-text-color);
}

/* section */
.section-tittle {
  color: var(--tittle-text-color);
}

/* team */
.team-list .tittle {
  color: var(--tittle-text-color);
}

/* batton */
.button {
  color: var(--primary-white-color)
  background-color: var(--akcent-color);
}

.click {
  background: #f5f4fa;
  color: var(--tittle-text-color);
}

.click:hover,
.click:focus {
  color: #ffffff
  background-color: var(--akcent-color);
}
/* footer */
.footer .logo,
.footer .tittle,
.address-list .link {
  background: #2f303a;
}

.footer .tittle {
  color: var(--primary-white-color)
}

.address-list .link {
  color: rgba(255, 255, 255, 0.6);
}
