:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --akcent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

p {
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* logo */
.logo {
  color: var(--akcent-color);
}

.logo-header {
  color: var(--tittle-text-color);
}

.logo-footer {
  color: #ffffff;
}
/* site-nav */
.site-nav .link {
  color: var(--tittle-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--akcent-color);
}

.site-nav .link.current {
  color: var(--akcent-color);
}

.site-contact .link {
  color: var(--primary-text-color);
}
.site-contact .link:hover,
.site-contact .link:focus {
  color: var(--akcent-color);
}

/* hero */
.hero-tittle {
  background: #2f303a;
  color: #ffffff;
}

/* futures */
.feature-list .tittle {
  color: var(--tittle-text-color);
}

/* section */
.section-tittle {
  color: var(--tittle-text-color);
}

/* team */
.team-list .tittle {
  color: var(--tittle-text-color);
}

/* batton */
.button {
  color: #ffffff;
  background-color: var(--akcent-color);
}

.click {
  background: #f5f4fa;
  color: var(--tittle-text-color);
}

.click:hover,
.click:focus {
  color: #ffffff;
  background-color: var(--akcent-color);
}
/* footer */
.footer .logo,
.footer .tittle,
.address-list .link {
  background: #2f303a;
}

.footer .tittle {
  color: #ffffff;
}

.address-list .link {
  color: rgba(255, 255, 255, 0.6);
}
